set timeout=5
set default=0

menuentry "Micro Linux (RAM Mode)" {
    echo "Cargando el Kernel..."
    
    linux /boot/bzImage console=tty0
    
    echo "Cargando el sistema de archivos..."
    initrd /boot/initramfs.cpio.gz
}
